<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kanban</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  .login-form {
      width: 340px;
      margin: 50px auto;
      font-size: 15px;
    }

    .login-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
    }

    #edit-todo-page {
      width: 60%;
      margin: 0 auto;
    }

    .g-signin2 > div {
      margin: 0 auto;
    }
</style>
<body>
  <div id="app">

    <!-- Header -->
    <nav class="navbar navbar-expand-lg d-flex justify-content-between" style="background-color: #e3f2fd;">
      <a class="navbar-brand font-weight-bold">Kanban</a>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 my-sm-0" v-if="page === 'dashboard'" @click.prevent="logout()">Logout</button>
      </form>
    </nav>

    <!-- Login Page -->
    <section v-if="page === 'login'">
      <h1 class="text-center mt-5">Kanban App</h1>
      <div class="login-form">
        <form @submit.prevent="login()">
          <h2 class="text-center">Log in</h2>
          <div class="form-group mt-4">
            <label>Email address</label>
            <input type="email" class="form-control" v-model="loginEmail">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" v-model="loginPassword">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">login</button>
          </div>
          <div class="text-center mt-5">
            <p>Not register yet ?</p>
            <a href="" role="button" @click.prevent="toRegister()">Register</a>
          </div>
        </form>
      </div>
    </section>

     <!-- Register Page -->
     <section v-if="page === 'register'">
      <h1 class="text-center mt-5">Kanban App</h1>
      <div class="login-form">
        <form @submit.prevent="register()">
          <h2 class="text-center">Create Account</h2>
          <div class="form-group mt-4">
            <label>Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group mt-4">
            <label>Email address</label>
            <input type="email" class="form-control" v-model="registerEmail">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" v-model="registerPassword">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">register</button>
          </div>
          <div class="text-center mt-5">
            <p>Already have an account?</p>
            <a href="" role="button" @click.prevent="toLogin()">Log in</a>
          </div>
        </form>
      </div>
    </section>
    

    <!-- Dashboard -->
    <section v-if="page === 'dashboard'">
      <div class="container-fluid" style="max-width: 90%;">
        <div class="d-flex justify-content-between mt-4">
      
          <!-- Kanban Backlog  -->
          <div>
            <div class="card text-dark" style="width: 20rem; background-color: #dae7f0">
              <div class="card-header" style="background-color: #a6bbca; height: 50px;">
                <h6 class="font-weight-bold pt-1">Backlog</h6>
              </div>

                <div class="card m-2">
                  <div class="card-body">
                    <h6 class="card-subtitle text-dark">Card subtitle</h6>
                    <p class="card-text">Some quick example text of the card's content.</p>
                  <div class="card-footer bg-transparent text-muted d-flex justify-content-between p-0">
                    <div>
                      <p>Ini Tanggal</p>
                    </div>
                    <div>
                      <p>Ini Nama</p>
                    </div>
                  </div>
                  </div>
                </div>

                <div class="card m-2">
                  <div class="card-body">
                    <h6 class="card-subtitle text-dark">Card subtitle</h6>
                    <p class="card-text">Some quick example text of the card's content.</p>
                  <div class="card-footer bg-transparent text-muted d-flex justify-content-between p-0">
                    <div>
                      <p>Ini Tanggal</p>
                    </div>
                    <div>
                      <p>Ini Nama</p>
                    </div>
                  </div>
                  </div>
                </div>
    
              <div class="card-footer bg-transparent text-muted">
                <input class="bg-transparent border-0" type="text" placeholder="Add a card...">
              </div>
            </div>
          </div>
      
      
          <!-- Kanban Product -->
          <div>
            <div class="card text-dark" style="width: 20rem; background-color: #dae7f0">
              <div class="card-header" style="background-color: #a6bbca; height: 50px;">
                <h6 class="font-weight-bold pt-1">Product</h6>
              </div>
              
              <div class="card m-2">
                <div class="card-body">
                  <h6 class="card-subtitle text-dark">Card subtitle</h6>
                  <p class="card-text">Some quick example text of the card's content.</p>
                <div class="card-footer bg-transparent text-muted d-flex justify-content-between p-0">
                  <div>
                    <p>Ini Tanggal</p>
                  </div>
                  <div>
                    <p>Ini Nama</p>
                  </div>
                </div>
                </div>
              </div>
    
              <div class="card-footer bg-transparent text-muted">
                <input class="bg-transparent border-0" type="text" placeholder="Add a card...">
              </div>
            </div>
          </div>
      
      
          <!-- Kanban Develompment -->
          <div>
            <div class="card text-dark" style="width: 20rem; background-color: #dae7f0">
              <div class="card-header" style="background-color: #a6bbca; height: 50px;">
                <h6 class="font-weight-bold pt-1">Develompment</h6>
              </div>
              
              <div class="card m-2">
                <div class="card-body">
                  <h6 class="card-subtitle text-dark">Card subtitle</h6>
                  <p class="card-text">Some quick example text of the card's content.</p>
                <div class="card-footer bg-transparent text-muted d-flex justify-content-between p-0">
                  <div>
                    <p>Ini Tanggal</p>
                  </div>
                  <div>
                    <p>Ini Nama</p>
                  </div>
                </div>
                </div>
              </div>
    
              <div class="card-footer bg-transparent text-muted">
                <input class="bg-transparent border-0" type="text" placeholder="Add a card...">
              </div>
            </div>
          </div>
      
          
          <!-- Kanban Done -->
          <div>
            <div class="card text-dark" style="width: 20rem; background-color: #dae7f0">
              <div class="card-header" style="background-color: #a6bbca; height: 50px;">
                <h6 class="font-weight-bold pt-1">Done</h6>
              </div>
              
              <div class="card">
                <div class="card-body">
                  <h6 class="card-subtitle text-dark">Card subtitle</h6>
                  <p class="card-text">Some quick example text of the card's content.</p>
                <div class="card-footer bg-transparent text-muted d-flex justify-content-between p-0">
                  <div>
                    <p>Ini Tanggal</p>
                  </div>
                  <div>
                    <p>Ini Nama</p>
                  </div>
                </div>
                </div>
              </div>
    
              <div class="card-footer bg-transparent text-muted">
                <input class="bg-transparent border-0" type="text" placeholder="Add a card...">
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>